<table class="table" [hidden]="!loaded">
  <thead>
    <tr>
      <th (click)="handleHeaderClick('payeeName')">Payee Name</th>
      <th (click)="handleHeaderClick('address.city')">City</th>
      <th (click)="handleHeaderClick('address.state')">State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payee of displayPayees | async">
      <td>{{ payee.payeeName }}</td>
      <td>{{ payee.address?.city }}</td>
      <td>{{ payee.address?.state }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loaded">
  <h3>No Payees at this time</h3>
</div>
